@charset "utf-8";
.regtable{
	width:380px;
	margin-left:-10px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	text-align:justify;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	background-color:#FFF;
	 opacity: 0.8;
}

.tableName{
	color:#FFF;
	background-color:#F33;
	font-size:22px;
	font-weight:600;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
}

.tableBody{
	padding-left:15px;
}

.reg{
	font-family:Roboto;
	font-size:16px;
	margin-left:370px;
	padding-top:20px;
	padding-bottom:10px;
}

.star{
	font-size:14px;
	cursor:pointer;
	color:#F00;
}

.birth{
	width:40px;
	margin-right: 5px;
}

.subbutt{
	border:#000;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#06F;
	color:#FFF;
	font-family:Roboto;
	font-size:18px;
	font-weight:500;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
	cursor:pointer;
	z-index:5;
}

.test{
	z-index:0;
	opacity:1;
	position:absolute;
	top:635px;
	left:550px;
}